<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>十贰erp管理系统</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="十贰erp管理系统" name="description"/>
    <meta content="十贰erp管理系统" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/static/assets/css/app.min.css" rel="stylesheet"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="/static/assets/plugins/countdown/jquery.countdown.css" rel="stylesheet"/>
    <!-- ================== END PAGE CSS STYLE ================== -->
</head>
<body class="bg-white pace-top">
<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin coming-soon -->
    <div class="coming-soon">
        <!-- begin coming-soon-header -->
        <div class="coming-soon-header">
            <div class="bg-cover"></div>
            <div class="brand">
                <span class="logo"></span> <b>十贰</b> erp
            </div>
            <div class="desc">
                十贰erp功能完备, 集进销存、分销、资金、门店零售、电商管理、全平台支持. <br/>
                支持自定义,多组织管理,在线体验,免费试用,免费升级.
            </div>
            <div class="timer">
                <div id="timer"></div>
            </div>
        </div>
        <!-- end coming-soon-header -->
        <!-- begin coming-soon-content -->
        <div class="coming-soon-content">
            <form action="">
                <div class="desc">
                    我们 <b>内测版</b> 即将推出!<br/> 输入电话号码，优先注册 <b>快人一步</b>.
                </div>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="填写邮箱地址"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-inverse">订阅我们</button>
                    </div>
                </div>
                <p class="help-block m-b-25"><i>我们不是垃圾邮件。您的电子邮件地址在我们这里是安全的。</i></p>
                如下方式也可以通知我们：
                <a href="1107842285@qq.com" class="text-inverse"><i class="fa fa-inbox fa-lg fa-fw text-info"></i>
                    邮箱：1107842285@qq.com</a> &nbsp;
                <a href="18280595130" class="text-inverse"><i class="fa fa-phone fa-lg fa-fw text-blue"></i>
                    电话：18280595130</a>
                </p>
            </form>
        </div>
        <!-- end coming-soon-content -->
    </div>
    <!-- end coming-soon -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/assets/js/app.min.js"></script>
<script src="/static/assets/js/theme/default.min.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/assets/plugins/countdown/jquery.plugin.min.js"></script>
<script src="/static/assets/plugins/countdown/jquery.countdown.min.js"></script>
<script src="/static/assets/js/demo/coming-soon.demo.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>